<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
>
    <filter>
        <filter-name>allFilter</filter-name>
        <filter-class>servlet.AllFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>allFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>timerServlet</servlet-name>
        <servlet-class>servlet.TimerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>timerServlet</servlet-name>
        <url-pattern>/timer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lastXWeekServlet</servlet-name>
        <servlet-class>servlet.LastXWeekServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lastXWeekServlet</servlet-name>
        <url-pattern>/lastXWeek</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>todayTimeServlet</servlet-name>
        <servlet-class>servlet.TodayTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>todayTimeServlet</servlet-name>
        <url-pattern>/todayTime</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>findByIdServlet</servlet-name>
        <servlet-class>servlet.FindByIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findByIdServlet</servlet-name>
        <url-pattern>/findById</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>version</servlet-name>
        <servlet-class>servlet.until.Version</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>version</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>

</web-app>